.sign-up-container {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 87vh; */
}

.input-sign-up-container{
  width: 60%;
}



 .singUpButton 
 {
   margin-bottom: 10px ;
 }


.errMessage {
  width: 50%;
}
