.chat {
    background-image: url("https://thumbs.dreamstime.com/b/mobile-apps-pattern-white-background-50171276.jpg");

}

.chat-content-all 
{
    height:400px;
    overflow-y: auto; 

    
}
.input-chat {
    width: 90%;
    margin: auto;
    margin-top: 35px;
    float: inline-end;
}

.input-chat input
{
   width: 80%;
}

.chat-info1
{   width: 90%;
    border: 2px solid #dedede;
    background-color:white;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;


}

.chat-info2
{   width: 90%;
    border: 2px solid #dedede;
    background-color:#184e77;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    color: white;


}
.time-right2 {
    float: right;
    color:white;
    font-size: 13px;
  }

.chat-info1 sup
{
    margin-left: 5px;
}

.time-right {
    float: right;
    color:black;
    font-size: 13px;
  }
  


.chat-content
{
    margin-left: 15px;
    margin-top: 15px;
}
 .chat-date
{
    font-size: 13px;
    margin-right: 5px;
    float: right;
    
}

.join-chat{
    width: 15%;
    height: 35%;
    margin: auto;
    align-items: center;
}

.join-chat-button {
    width: 100%;
    height: 20%;
}


.parant-to-One-chat
{
display: flex;
width: 80%;
margin: auto;
margin-top: 80px;
min-height: 70vh;
gap: 25px;


}

.parant-to-One-chat .ch1-to-One-chat
{
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
} 
.chat2-user-info
{
    padding-top: 20px;
    box-shadow: 5px 5px 5px 5px #f5f6f9;
    height: 75px;

}
 .ch1-to-One-chat #span-onetoone
{
    
    padding-left: 20px;
}
.parant-to-One-chat .ch2-to-One-chat
{
    width: 74%;

}


.containar-all-chat-2 {
        background-image: url("https://thumbs.dreamstime.com/b/mobile-apps-pattern-white-background-50171276.jpg");
        width: 100%;

}

.chat2-user-info {
    cursor: pointer;
    margin-top: 40px;
}

div::-webkit-scrollbar  {
    width: 10px;
  }
  
  /* Track */
  div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  div::-webkit-scrollbar-thumb {
    background: #0B2148; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  div::-webkit-scrollbar-thumb:hover {
    background: #0B2148; 
  }
