.chat {
    background-image: url("https://thumbs.dreamstime.com/b/mobile-apps-pattern-white-background-50171276.jpg");

}


.containar-all-chat
{
    /* background-image: url("https://thumbs.dreamstime.com/b/mobile-apps-pattern-white-background-50171276.jpg"); */
    /* height:500px; */
    /* overflow-y: scroll;  */
    
}
.chat-content-all 
{
    height:400px;
    overflow-y: scroll; 

    
}
.input-chat {
    width: 90%;
    margin: auto;
    margin-top: 35px;
    float: inline-end;
}

.input-chat input
{
   width: 80%;
}

.chat-info1
{   width: 90%;
    border: 2px solid #dedede;
    background-color:white;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;


}

.chat-info2
{   width: 90%;
    border: 2px solid #dedede;
    background-color:#184e77;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    color: white;


}
.time-right2 {
    float: right;
    color:white;
    font-size: 13px;
  }

.chat-info1 sup
{
    margin-left: 5px;
}

.time-right {
    float: right;
    color:black;
    font-size: 13px;
  }
  


.chat-content
{
    margin-left: 15px;
    margin-top: 15px;
}
 .chat-date
{
    font-size: 13px;
    margin-right: 5px;
    float: right;
    
}

.join-chat{
    width: 15%;
    height: 35%;
    margin: auto;
    align-items: center;
}

.join-chat-button {
    width: 100%;
    height: 20%;
}


.parant-to-One-chat
{
display: flex;
/* justify-content: space-around; */
width: 80%;
margin: auto;
min-height: 80vh;

}
.parant-to-One-chat .ch1-to-One-chat
{
    width: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
   
} 
 .ch1-to-One-chat #p-onetoone
{
    border-bottom: 2px solid rgb(190, 190, 192);
}
.parant-to-One-chat .ch2-to-One-chat
{
    width: 70%;
    background-image: url("https://thumbs.dreamstime.com/b/mobile-apps-pattern-white-background-50171276.jpg");
}





