.slide-container{
   width: 100%; 
   margin-top: 2%;

}

.each-slide {
    height: 500px;
    width: 100%;
}

.imageSlider{
    height: 100vh;
    width:100%; 
    background-size: cover;
   
}

.parintcatgory{
    display: grid;
    grid-template-columns: 30% 30%  30%  ;
     justify-content:space-around;
     margin-top: 2%;
    

}
.ch {
    position: relative;

}
.ch img{
    width: 100%;
    display: block;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  .ch:hover .overlay {
    opacity: 0.3;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 67%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
  }



