
.nav-container{
    padding: 0;
    /* margin-bottom: 25px; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
	  position: sticky;
	  top: 0;
    z-index:25;
    /* height: 100%; */

  }
  body{
    font-family: montserrat;
  }
  .navbar-container{
    background: #0B2148;
    height: 80px;
    width: 100%;
  }

  .navbar-content {
      display: flex;
      justify-content: space-between;
  }
  .ul-navbar {
      display: flex;
      margin-right: 25px;
     
  }
  #booking {
    float: left;
    font-family: "Mukta", sans-serif;
    font-size: 30px;
    color: #ffc300;
  }
  #online {
    float: left;
    font-family: "Mukta", sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    /* padding: 0 100px; */
    font-weight: bold;
  }
  nav ul{
    /* float: right; */
    z-index: 5;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

.search-nav-bar  {
    display: flex;
    padding-top: 30px ;
}
.searchButton{
 height: 30px;
padding-top: 2;
}
.web-name-app
{
 padding: 20px 20px 0px 20px;
 cursor: pointer;
}



  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 910px){
    label.logo{
      font-size: 30px;
      /* padding-left: 50px; */
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 900px){
    .checkbtn{
      display: block;
    }
    
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin-top: 5%;
      /* margin: 50px 0; */
      /* margin-right: 25px; */
      
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      margin-right: 25px;

    }
    
    #check:checked ~ ul{
      left: 0;
    }
  }

  nav ul li a:hover {
    transition: .5s;
    color: #FFCB39;
  }



  section{
    /* background: url(bg1.jpg) no-repeat; */
    background-size: cover;
    height: calc(100vh - 80px);
  }

  .navbar-icon-FA {
    cursor: pointer;
  }

  .navbar_icon-FA{
    cursor: pointer;
    margin-left: 25px ;
  }

  @media screen and (max-width:680px) and (min-width:360px) {
    .web-name-app{
      display: none;
    }

    .search-nav-bar{
      margin-left: 20px;
    }

  }

  @media screen and (max-width:360px) {
    .web-name-app{
      display: none;
    }

    .search-nav-bar{
      margin-left: 0px;
    }

    .nav-container{
      width: 100vw;
    }
    
  }