
.businesses{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
 margin-left: 10px;
}

#businessCard{
    margin-top: 7%;
    
}
.category_Page{
    min-height: 85vh;
}
.businessCard:hover{
    cursor: pointer;
}

.box {
    margin: auto;
    box-shadow: 0 1px 3px rgba(80, 18, 18, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .box:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid #1b95a9;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

@keyframes example {
    0%   {border-left: 2px solid #ffffff;}
    25%  {border-left: 3px solid #ffe6e6;}
    50%  {border-left: 4px solid #1b95a9;}
    100% {border-left: 5px solid #1b95a9;}
}

.filter_section{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100vw;
}

.paginationButtons{
    margin-top: 4%;
    position: relative;
    left: 46vw;
}

.pagination{
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    border: #ddd solid 2px;
}
.pagination:hover{
    cursor: pointer;
}

@media screen and (min-width:890px) and (max-width:1200px){
    .businesses{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width:600px) and (max-width:890px){
    .businesses{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:600px){
    .businesses{
        grid-template-columns: 1fr;
    }
}