.profile-information {
    width: 65%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
}

.information-edit{
  margin: auto;
    margin-top: 5%;
    align-items: center;
}

#your-information{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    margin: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }


  .info p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
  }

  #email-input{
    cursor:not-allowed
  }

  #editButton {
margin: auto;
float: left;
}

#addBusinessButton{
  margin:auto;
  float: right;
}

.editForm {
  margin-top: 2%;
}

.inf_reservation
{
  width: 50%;
  height: 25%;
  margin:auto;
  margin-top: 50px;
  
}

.email-edit-info {
  margin-top: 2%;
}

