.profile-information {
    width: 65%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
}

.information-edit{
  margin: auto;
    margin-top: 5%;
    align-items: center;
}

#your-information{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    margin: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }


  .info p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
  }

  #email-input{
    cursor:not-allowed
  }

  #editButton {
margin: auto;
float: left;
}

#addBusinessButton{
  margin:auto;
}

.noBusiness{
  width: 100vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editForm {
  margin-top: 2%;
}

.inf_reservation
{
  width: 50%;
  height: 25%;
  margin:auto;
  margin-top: 50px;
  
}

.email-edit-info {
  margin-top: 2%;
}

.main_business{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inf_business{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items:center;
  width: 98vw;
}
.Resinf_business{
  display: grid;
  grid-template-columns: repeat(3,1fr 1fr 2fr 1fr);
  gap: 23px;
  border-bottom: solid black ;
  margin-bottom:20px ;
  padding-bottom: 20px;
}

.image{
  width: 70vw;
  height: 70vh
}
.Resimage{
  width: 23vw;
  height: 31.75vh
}

.business_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  
}

.business_desc{
  display: flex;
  align-items: center;
  width: 35vw;
  max-height: 40vh;
}
.Resbusiness_desc{
  display: flex;
  align-items: center;
  width: 27vw;
  max-height: 40vh;
}
