.h4 {
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.parant-payment 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    box-shadow: 20px 20px 20px 10px #f5f6f9;
}

/* .parant-payment > div 
{
    width: 30%;
} */

.cardchldren
{
    margin-top: 45px;
    
}
/* .payment-input {
display: flex;
flex-direction: column;

} */

.payment-input div {
    margin: auto;
    width: 400px;
    margin-bottom: 20px;

}

.online_payment{
    width: 35vw;
}


.button {
    margin: 30px 0 0 56.5% ;
}



.iconspayment
{
  text-align: center;
  margin-top: 20px;
}

.iconspayment .icons 
{
  font-size: 50px;
  color:black;
  cursor: pointer;

}
