.parent {
  display: flex;
  gap: 50px;
  /* justify-content: space-between; */
  background-color: #ffffff;
}
.gallery {
  width: 60%;
  padding: 5px 20px 0px 20px;
  /* margin-left: 6px; */
  background-color: #fafafa;
}
.gallery button
{
  box-shadow: none;
}
.information {
  width: 30%;
  background-color: #ddd;
}
.image-gallery-image {
  width: 500px;
  height: 500px;
}
.header {
  font-family: "Basel Grotesk";
  font-size: 24px;
  line-height: 28px;
}

.description {
  font-family: "Basel Grotesk";
  font-size: 16px;
  margin-bottom: 12px;
  letter-spacing: 0.3px;
  line-height: 24px;
}
.rate {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.price {
  margin-top: 30px;
  color: #000;
  font: 600 18px/18px Arial, sans-serif;
}

.user-rate {
  font-family: "proxima-nova", Verdana, sans-serif;
  font-size: 14px;

  color: #000000;
}
.containers {
  border: 2px solid green;
  display: grid;
  justify-content: left;
}

.parant_coment-chat
  {
    display: flex;
    justify-content: space-around;
    
  }

  .parant_coment-chat > div
  {
    width: 45%;

  }
.comments h1 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: "proxima-nova", Verdana, sans-serif;
}
.comment {
  width: 200px;
  border: 1px solid green;
  position: relative;
}
.comment2 {
  width: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.profilePic_2 {
    padding-left: 3px;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    border-radius: 35px;
  }
  #name_2 {
    position: absolute;
    top: 0px;
    /* right: 120px; */
    left:35px ;
    font-size: 12px;
    font-weight: bold;
    font-family: "Mukta", sans-serif;
    background-color: #dad6d6;
    padding: 10px;
    border-radius: 6px 6px 0px 6px;
  }
  
  
  .answer {
    width: max-content;
    margin: 4px;
    margin-left: 35px;
    padding: 10px;
    font-size: 13px;
    font-family: "Mukta", sans-serif;
    background-color: #dad6d6;
    border-radius: 0px 6px 6px 6px;
  }
  .delete{
      cursor: pointer;
  }

  