.parent{
    display: flex;
}
.gallery{
width: 45%;
padding: 40px 20px 0px 20px;
margin-left: 13px;
}
.image-gallery-image {
   
    width: 500px;
    height: 500px;
}
.information{

}

.rate {
    display: grid;
    gap: 2%;
}
.containers {
    display: grid;
      justify-content: left;
  }

